:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  width: 100vw;
  place-items: stretch;
  min-width: 320px;
  background-color: #0c0c0c;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.MuiMenuItem-root {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
}

Tab {
  border-radius: 8px;
}

.resizer {
  background-color: #e8eaf6;
  transition: all 0.2s ease-in;
}

.resizer:hover {
  background-color: #c5cae9;
  transition: all 0.2s ease-in;
}
